---
pagination: 
    data: noteHashTags
    size: 1
    alias: tag
noteHashTags:
    - art
    - easter
    - food
permalink: /notes/tags/{{ tag }}/
layout: default
---

{% assign hashtagList = hashtags %}
{% assign artTagsURL = '/notes/tags/art/' %}
{% assign foodTagsURL = '/notes/tags/food/' %}
{% assign easterTagsURL = '/notes/tags/easter/' %}

<h3>Tags with: #{{ tag }}</h3>

{% for note in hashtagList %}
    <ul>
    {% if page.url contains artTagsURL %}
        {% if note.tags contains '#art' %}
            <li><a href="{{ note.url }}">{{ note.title }}</a></li>
        {% endif %}
    {% endif %}
    {% if page.url contains foodTagsURL %}
        {% if note.tags contains '#food' %}
            <li><a href="{{ note.url }}">{{ note.title }}</a></li>
        {% endif %}
    {% endif %}
    {% if page.url contains easterTagsURL %}
        {% if note.tags contains '#easter' %}
            <li><a href="{{ note.url }}">{{ note.title }}</a></li>
        {% endif %}
    {% endif %}
    </ul>
{% endfor %}