---
pagination: 
    data: noteHashTags
    size: 1
    alias: tag
noteHashTags:
    - art
    - easter
    - food
permalink: /notes/tags/{{ tag }}/
layout: default
---
{# Getting the noteHashTags list to be generated dynamically would be the golden ticket #}

{# Some markdown notes have the same filename as tags 
so thats why /tags/tag is currently being used to side step this #}

{% assign hashtagList = hashtags %}
{% assign artTagsURL = '/notes/tags/art/' %}
{% assign foodTagsURL = '/notes/tags/food/' %}
{% assign easterTagsURL = '/notes/tags/easter/' %}

<h3>Tags with: #{{ tag }}</h3>

{# if this conditional checking could be automated and only display relevant lists that would be ideal #}
{% for note in hashtagList %}
    <ul>
    {% if page.url contains artTagsURL %}
        {% if note.tags contains '#art' %}
            <li><a href="{{ note.url }}">{{ note.title }}</a></li>
        {% endif %}
    {% endif %}
    {% if page.url contains foodTagsURL %}
        {% if note.tags contains '#food' %}
            <li><a href="{{ note.url }}">{{ note.title }}</a></li>
        {% endif %}
    {% endif %}
    {% if page.url contains easterTagsURL %}
        {% if note.tags contains '#easter' %}
            <li><a href="{{ note.url }}">{{ note.title }}</a></li>
        {% endif %}
    {% endif %}
    </ul>
{% endfor %}